*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background:linear-gradient(#729aa3, #1270bc , #20565d) ;
}
.center{
    width: 350px;
    background: black;
    border-radius: 20px;
}
